#landslide .angular-google-map-container { min-height: 630px; }

.ng-table-counts {
    display: none !important;
}

.pag-sm .pagination{
	margin: 0px !important;
}

.pag-sm .pagination > li > a,
.pag-sm .pagination > li > span {
  padding: 5px 10px !important;
  font-size: 12px !important;
}
.pag-sm .pagination > li:first-child > a,
.pag-sm .pagination > li:first-child > span {
  border-bottom-left-radius: 3px !important;
  border-top-left-radius: 3px !important;
}
.pag-sm .pagination > li:last-child > a,
.pag-sm .pagination > li:last-child > span {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.pag-sm .jumbotron{
	padding: 20px !important;
}

.infoWindow {
	font-size: smaller;
}