@(message: String)

@main("") {
	<!-- angular templating -->
    <!-- this is where content will be injected -->
	<ng-include src="'seed/assets/navbar.html'"></ng-include>
	<div class="container">
    <div ng-view></div>
    </div>
}
