<div>
<div class="row">
	<div class="col-lg-3 col-sm-4 jumbotron" style="padding: 20px">
		<form role="form" name="deviceForm">
	
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': deviceForm.matricola.$invalid && !deviceForm.matricola.$pristine}">
				    <label class="control-label" for="matricola">Matricola</label>
				    <input name="matricola" type="text" class="form-control"
				    	ng-model="selected.matricola" placeholder="matricola..." required>
				    <span ng-show="deviceForm.matricola.$error.required && !deviceForm.matricola.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': deviceForm.matricola.$invalid && !deviceForm.matricola.$pristine}">
				    <label class="control-label" for="address">Indirizzo</label>
				    <input name="address" type="text" class="form-control"
				    	ng-model="selected.address" placeholder="0.0.0.0.0" required>
				    <span ng-show="deviceForm.address.$error.required && !deviceForm.address.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': deviceForm.username.$invalid && !deviceForm.username.$pristine}">
				    <label class="control-label" for="address">Username</label>
				    <input name="username" type="text" class="form-control"
				    	ng-model="selected.username">
				    <span ng-show="deviceForm.username.$error.required && !deviceForm.username.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': deviceForm.password.$invalid && !deviceForm.password.$pristine}">
				    <label class="control-label" for="password">Password</label>
				    <input name="username" type="text" class="form-control"
				    	ng-model="selected.password">
				    <span ng-show="deviceForm.password.$error.required && !deviceForm.password.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
				  <button type="submit" ng-click="save()" ng-disabled="deviceForm.$invalid" class="btn btn-default">{{stored ? 'Aggiorna' : 'Salva'}}</button>
				  <button ng-show="stored" ng-disabled="device.site!=null" type="submit" ng-click="remove()" class="btn btn-danger">Rimuovi</button>
				  <button ng-show="stored" ng-click="unselect()" class="btn btn-danger" style="float:right">Annulla</button>
			  	</div>
			</div>
		</form>
	</div>
	<div class="col-lg-9 col-sm-8">
		<p><strong>Total:</strong> {{tableParams.total()}}</p>
		<table ng-table="tableParams" class="table table-hover">
		
		  <tbody>
			  <tr ng-repeat="device in $data" >
			    <td data-title="'Matricola'" sortable="'matricola'">{{device.matricola}}</td>
			    <td data-title="'Indirizzo'" sortable="'address'">{{device.address}}</td>
			    <td data-title="'Username'" sortable="'username'">{{device.username}}</td>
			    <td data-title="'Password'" sortable="'password'">{{device.password}}</td>
			    <td data-title="'Azioni'"><a href="javascript:void(0)" ng-click="select(device)">Modifica</a></td>
			  </tr>
		  </tbody>

		</table>
	</div>
</div>


</div>