<div>
<div class="row">
	<div class="col-lg-3 col-sm-4 jumbotron" style="padding:20px">
		<form role="form" name="deviceForm">
	
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': deviceForm.matricola.$invalid && !deviceForm.matricola.$pristine}">
				    <label class="control-label" for="matricola">Matricola</label>
				    <input name="matricola" type="text" class="form-control"
				    	ng-model="device.matricola" placeholder="matricola..." required>
				    <span ng-show="deviceForm.matricola.$error.required && !deviceForm.matricola.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				<label class="control-label" for="concentrator">Concentratore</label>
				<select name="concentrator" class="form-control" ng-model="device.concentrator" 
					ng-options="c as c.matricola for c in concentrators">
					<option></option>
					</select>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				<label class="control-label" for="site">Sito</label>
				<select name="site" class="form-control" ng-model="device.site" 
					ng-options="s as s.name for s in sites">
					<option></option>
					</select>
			  	</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
				  <button type="submit" ng-click="save()" ng-disabled="deviceForm.$invalid" class="btn btn-default">{{stored ? 'Aggiorna' : 'Salva'}}</button>
				  <button ng-show="stored" ng-disabled="device.site!=null" type="submit" ng-click="remove()" class="btn btn-danger">Rimuovi</button>
				  <button ng-show="stored" ng-click="unselect()" class="btn btn-danger" style="float:right">Annulla</button>
			  	</div>
			</div>
		</form>
	</div>
	<div class="col-lg-9 col-sm-8">
		<p><strong>Total:</strong> {{tableParams.total()}}</p>
		<table ng-table="tableParams" class="table table-hover">
		
		  <tbody>
			  <tr ng-repeat="device in $data" >
			    <td data-title="'Matricola'" sortable="'matricola'">{{device.matricola}} <i ng-show="device.lat && device.lon" class="fa fa-fw fa-map-marker" style="float:right"></i></td>
			    <td data-title="'Tipo'" sortable="'type'" style="text-align: center;">
			    	<span class="label label-default" ng-class="{'label-primary': device.type=='MASTER'}"
				    	style="margin-right: 1em; width: 2em !important;">{{device.type=='MASTER' ? 'm' : 'sl'}}</span>
			    </td>
			    <td data-title="'Conc'" sortable="'concentrator.matricola'">{{device.concentrator.matricola}}</td>
			    <td data-title="'Sito in cui è impiegato'" sortable="'site.name'"><a href="#landslide/{{device.site.id}}">{{device.site.name}}</a></td>
			    <td data-title="'Azioni'"><a href="javascript:void(0)" ng-click="select(device)">Modifica</a></td>
			  </tr>
		  </tbody>

		</table>
	</div>
</div>


</div>