<div class="row form-group">
	<div class="col-lg-2 col-md-2 pag-sm">
		<button type="submit" ng-click="save()" ng-disabled="deviceForm.$invalid" class="btn btn-default btn-sm">
			<i class="fa fa-fw fa-save " ></i>
			<span class="danger hidden-md" ng-show="dirty"> *</span>
		</button>

	    <div class="btn-group" dropdown style="float: right">
	      <label  class="btn btn-primary dropdown-toggle btn-sm" 
	      		ng-disabled="!isConfigured() || dirty || site.status == 'RECORDING'"
	      		style="-webkit-border-top-right-radius: 0px;
					-webkit-border-bottom-right-radius: 0px;
					-moz-border-radius-topright: 0px;
					-moz-border-radius-bottomright: 0px;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;">
	        <i ng-if="!start.loading" class="fa fa-fw fa-play" ></i>
	        <span ng-if="start.loading"><i class="fa fa-fw fa-spinner fa-spin"></i></span>
	        <span class="caret"></span>
	      </label>
	      <ul class="dropdown-menu" role="menu">
	        <li><a ng-click="start('SLOW')" href="javascript:void(0)" ng-model="site.status" btn-radio="'RECORDING'">Slow</a></li>
	        <li><a ng-click="start('MEDIUM')" href="javascript:void(0)" ng-model="site.status" btn-radio="'RECORDING'">Medium</a></li>
	        <li><a ng-click="start('FAST')" href="javascript:void(0)" ng-model="site.status" btn-radio="'RECORDING'">Fast</a></li>
	      </ul>
	      <label class="btn btn-primary btn-sm" ng-model="site.status" btn-radio="'STOP' || 'CONFIGURATION'"
	        	 ng-click="stop()" ng-disabled="site.status != 'RECORDING'">
	        	<i ng-if="!stop.loading" class="fa fa-fw fa-stop" ></i>
	        	<span ng-if="stop.loading"><i class="fa fa-fw fa-spinner fa-spin"></i></span>	
	        </label>
	    </div>

		<div style="height: 635px">		
			<table ng-table="tableParams" class="table table-hover" >
			  <tbody >
				  <tr ng-repeat="device in $data" ng-click="select(device)" ng-class="{'success': device.id == selected.id, 'warning':isChild(device)}">
				    <td>
				    	<span ng-switch="{{device.batteryIndicator}}">
				    		<img ng-switch-when="0" src="/seed/assets/images/ic_battery_alert_grey600_18dp.png" style="float:left;">
				    		<img ng-switch-when="1" src="/seed/assets/images/ic_battery_20_grey600_18dp.png" style="float:left;">
				    		<img ng-switch-when="2" src="/seed/assets/images/ic_battery_60_grey600_18dp.png" style="float:left;">
				    		<img ng-switch-when="3" src="/seed/assets/images/ic_battery_full_grey600_18dp.png" style="float:left;">
				    		<img ng-switch-default src="/seed/assets/images/ic_battery_unknown_grey600_18dp.png" style="float:left;">
				    	</span>
				    	<span class="label label-default" ng-class="{'label-primary': device.type=='MASTER'}"
				    	style="margin-right: 1em; width: 2em !important;">{{device.type=='MASTER' ? 'm' : 'sl'}}</span>
				    	{{device.matricola}} 
				    	<i ng-show="device.lat && device.lon && !device.loading" class="fa fa-lg fa-map-marker" style="float:right; line-height: 1em;"></i>
				    	<span ng-show="device.loading"><i class="fa fa-fw fa-spinner fa-spin" style="float:right"></i></span>
				    	</td>
				  </tr>
			  </tbody>
			</table>
			<span ng-show="tableParams.total()==0">Nessun rilevatore associato al sito, per aggiungere dei rilevatori andate 
				<a href="#devices">qui</a>.
			</span>
			<div id="info_chart" style="margin-left:-50px"></div>
		</div>
			


	</div>
	<div class="col-lg-10 col-md-10" id="landslide">
			<div class="row">
				<form role="form" name="deviceForm" class="form-horizontal">
					<div class="col-lg-5 col-md-5">
			  		  <div class="form-group" ng-class="{'has-error': deviceForm.lat.$invalid}">
					    <label class="control-label col-lg-3 col-md-3" for="lat">Latitudine:</label>
					    <div class="col-lg-9 col-md-9">
					   	<input type="text" class="form-control" id="lat" name="lat" ng-change="updateMap()"
					   		ng-model="selected.lat" placeholder="00.00" ng-pattern="{{validator.floatRegex}}"
					   		ng-disabled="site.status=='RECORDING' || !selected">
					   	<span ng-show="deviceForm.lat.$invalid" class="label label-danger">numerico</span>
					   	</div>
					  </div>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2"> 
					  <div class="form-group" ng-class="{'has-error': deviceForm.lat.$invalid}">	
					   	<label class="control-label col-lg-3 col-md-3" for="lon">Longitudine:</label>
					   	<div class="col-lg-9 col-md-9">
					   	<input type="text" class="form-control" id="lon" name="lon" ng-change="updateMap()"
					   		ng-model="selected.lon" placeholder="00.00" ng-pattern="{{validator.floatRegex}}"
					   		ng-disabled="site.status=='RECORDING' || !selected">
					   	<span ng-show="deviceForm.lon.$invalid" class="label label-danger">numerico</span>
					   	</div>
					  </div>
					</div>
				</form>
			</div>
		<google-map center="map.center" zoom="map.zoom" events="map.events" options="map.options" draggable="true"></google-map>
		<span style="float:right; font-size:smaller;">versione: {{version}}</span>
	</div>
</div>
