<form role="form" name="form">
<div class="row" style="margin-top: 5em;">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
	    <div class="jumbotron">
	        <h1><i class="fa fa-cubes" style="margin-right: 0.3em"></i>SEED</h1>
	        <p style="text-align:right">versione {{version}}</p>
	        
	       <div class="form-group">
			  <input name="username" type="text" class="form-control" placeholder="email" ng-model="username">

			</div>
			
			<div class="form-group">
			  <input name="password" type="password" class="form-control" placeholder="password" ng-model="password">
			  
			</div>

	        <div class="row">
	        	<div class="col-lg-12">
	        	  <button type="submit" class="btn btn-lg btn-primary" style="width: 100%" ng-click="authenticate()">Login</button>
	        	</div>
	        </div>
		</div>
	</div>
</div>
<div class="row jumbotron">
	<div class="col-lg-3 col-md-3">
		<img alt="" src="/seed/assets/images/logo-ati.png">
	</div>
	<div class="col-lg-3 col-md-3">
        <img alt="" src="/seed/assets/images/logo-drwolf.png">
	</div>
	<div class="col-lg-3 col-md-3">
        <img alt="" src="/seed/assets/images/logo-arsilici.png">
	</div>
	<div class="col-lg-3 col-md-3">
        <img alt="" src="/seed/assets/images/logo-unifi.gif">
	</div>
</div>
</form>
