<nav class="navbar navbar-default navbar-fixed-top" ng-show="identity.email!=null">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand" style="color:#d9230f"> SEED {{globalTitle}}</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"><i class="fa fa-fw fa-user"></i>{{identity.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#sites"><i class="fa fa-fw fa-globe"></i> Siti monitorati</a></li>
	          <li><a href="#devices"><i class="fa fa-fw fa-hdd-o"></i> Lista rilevatori</a></li>
	          <li><a href="#concentrators"><i class="fa fa-fw fa-sitemap"></i> Lista concentratori</a></li>
	          <li class="divider"></li>
	          <li ng-show="identity.admin==true"><a href="#users"><i class="fa fa-fw fa-users"></i> Lista utenti</a></li>
	          <li ng-show="identity.admin==true" class="divider"></li>
	          <li><a ng-click="logout()" href="#"><i class="fa fa-fw fa-sign-out"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>