<div>
<div class="row">
	<div class="col-lg-3 col-sm-4 jumbotron" style="padding: 20px">
		<form role="form" name="sitesForm">
	
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': sitesForm.name.$invalid && !sitesForm.name.$pristine}">
				    <label class="control-label" for="name">Nome</label>
				    <input name="name" type="text" class="form-control"
				    	ng-model="selected.name" placeholder="nome.." required>
				    <span ng-show="sitesForm.name.$error.required && !sitesForm.name.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': sitesForm.lat.$invalid}">
			    <label class="control-label" for="lat">Latitudine</label>
			   	<input type="text" class="form-control" id="lat" name="lat"
			   		ng-model="selected.lat" placeholder="00.00" ng-pattern="{{validator.floatRegex}}">
			   	<span ng-show="sitesForm.lat.$invalid" class="label label-danger">numerico</span>
			</div>
			
			<div class="form-group" ng-class="{'has-error': sitesForm.lon.$invalid}">
			    <label class="control-label" for="lon">Longitudine</label>
			   	<input type="text" class="form-control" id="lon" name="lon"
			   		ng-model="selected.lon" placeholder="00.00" ng-pattern="{{validator.floatRegex}}">
			   	<span ng-show="sitesForm.lon.$invalid" class="label label-danger">numerico</span>
			</div>
			

			<div class="row">
				<div class="col-lg-12">
				  <button type="submit" ng-click="save()" ng-disabled="sitesForm.$invalid" class="btn btn-default">{{stored ? 'Aggiorna' : 'Salva'}}</button>
				  <button ng-show="stored" ng-disabled="device.site!=null" type="submit" ng-click="remove()" class="btn btn-danger">Rimuovi</button>
				  <button ng-show="stored" ng-click="unselect()" class="btn btn-danger" style="float:right">Annulla</button>
			  	</div>
			</div>
		</form>
	</div>
	<div class="col-lg-9 col-sm-8">
		<p><strong>Total:</strong> {{tableParams.total()}}</p>
		<table ng-table="tableParams" class="table table-hover">
		
		  <tbody>
			  <tr ng-repeat="site in $data" >
			    <td data-title="'Nome'" sortable="'name'"><a href="#landslide/{{site.id}}">{{site.name}}</a></td>
			    <td data-title="'Stato'" sortable="'status'">
			    	<span class="label text-lowercase "
			    	ng-class="{'label-success': site.status=='RECORDING', 'label-danger': site.status=='STOP','label-info': site.status=='CONFIGURATION'}" >{{site.status}}</span>
			    </td>
			    <td data-title="'Lat'" sortable="'lat'">{{site.lat}}</td>
			    <td data-title="'Lon'" sortable="'lon'">{{site.lon}}</td>
			    <td data-title="'Ril'" sortable="'devices.length'">{{site.devices.length}}</td>
			    <td data-title="'Azioni'"><a href="javascript:void(0)" ng-click="select(site)">Modifica</a></td>
			  </tr>
		  </tbody>

		</table>
	</div>
</div>


</div>