<div>
<div class="row">
	<div class="col-lg-3 col-sm-4 jumbotron" style="padding: 20px">
		<form role="form" name="form">
	
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': form.email.$invalid && !form.email.$pristine}">
				    <label class="control-label" for="email">Email</label>
				    <input name="email" type="text" class="form-control"
				    	ng-model="selected.email" placeholder="email..." required>
				    <span ng-show="form.email.$error.required && !form.email.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group" ng-class="{'has-error': form.password.$invalid && !form.password.$pristine}">
				    <label class="control-label" for="password">Password</label>
				    <input name="password" type="text" class="form-control"
				    	ng-model="selected.password" placeholder="password..." required>
				    <span ng-show="form.password.$error.required && !form.password.$pristine" class="label label-danger">obbligatorio</span>
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group">
				    <label class="control-label" for="active">Amministratore</label>
				    <input type="checkbox" ng-model="selected.admin" id="active">
				  </div>
			  	</div>
			</div>
			
			<div class="row form-group">
				<div class="col-lg-12 col-md-12">
				  <div class="form-group">
				    <label class="control-label" for="active">Attivo</label>
				    <input type="checkbox" ng-model="selected.active" id="active">
				  </div>
			  	</div>
			</div>
			


			
			<div class="row">
				<div class="col-lg-12">
				  <button type="submit" ng-click="save()" ng-disabled="form.$invalid" class="btn btn-default">{{stored ? 'Aggiorna' : 'Salva'}}</button>
				  <button ng-show="stored" type="submit" ng-click="remove()" class="btn btn-danger">Rimuovi</button>
				  <button ng-show="stored" ng-click="unselect()" class="btn btn-danger" style="float:right">Annulla</button>
			  	</div>
			</div>
		</form>
	</div>
	<div class="col-lg-9 col-sm-8">
		<p><strong>Total:</strong> {{tableParams.total()}}</p>
		<table ng-table="tableParams" class="table table-hover">
		
		  <tbody>
			  <tr ng-repeat="user in $data" >
			    <td data-title="'Email'" sortable="'email'">{{user.email}}</td>
			    <td data-title="'Password'" sortable="'password'">{{user.password}}</td>
			    <td data-title="'Amministratore'" sortable="'admin'">{{user.admin}}</td>
			    <td data-title="'Attivo'" sortable="'active'">{{user.active}}</td>
			    <td data-title="'Azioni'"><a href="javascript:void(0)" ng-click="select(user)">Modifica</a></td>
			  </tr>
		  </tbody>

		</table>
	</div>
</div>


</div>